.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;

  &:hover {
    transform: scale(0.98);
  }
}

@each $key, $val in $color {
  .btn-#{$key} {
    color: #fff;
    background-color: $val;
  }
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}
