.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100.8%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: $basic-box-shadow;
  padding: 20px;
  margin: 10px;
}

// Text Sizes
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

// Alert
.alert {
  background-color: $light-color;
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0px;
  
  i {
    margin-right: 10px;
  }
}

.alert-success {
  background-color: $success-color;
  color: #fff;
}

.alert-error {
  background-color: $error-color;
  color: #fff;
}